max-future-days: ${MAX_FUTURE_DAYS}
jwt:
  expiration: ${JWT_EXPIRATION}
  secret: ${JWT_SECRET}
  refresh:
    expiration: ${JWT_REFRESH_EXPIRATION}
logging:
  level:
    ir:
      kghobad: DEBUG
management:
  endpoints:
    web:
      exposure:
        include: health
      base-path: /actuator
  endpoint:
    health:
      show-details: never
      probes:
        enabled: true
  health:
    db:
      enabled: true
    diskspace:
      enabled: true
spring:
  application:
    name: thesis-defense-time-schedular
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: false
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
  sql:
    init:
      mode: never
      data-locations: classpath:data-prod.sql
server:
  servlet:
    context-path: /api/v1
frontend.url: ${FRONTEND_URL}
rate-limit.max-submitted-forms: ${RATE_LIMIT_MAX_SUBMITTED_FORMS:3}
